@font-face {
  font-family: "Gyparody";
  src: url("/css/gyparody.ttf");
}

html {
  font-size: 32px;
  font-family: sans-serif;
}

body {
  color: white;
  background-color: #031794;
  text-shadow: 4px 4px 0 black;
}

a {
  color: yellow;
}

a:visited {
  color: yellow;
}

h1 {
  font-family: "Gyparody", sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
}

table {
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
  border-collapse: collapse;

  margin: 0 auto;
}

th {
  font-size: 0.75rem;
}
th, td {
  width: 20%;
}

td {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0.5rem;
  border: 6px solid black;

  font-family: impact;
  font-weight: bold;
  font-size: 1.25rem;

  background-color: blue;

}

.modal {
  z-index: 2;
  display: block;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  max-width: 100%;

  padding: 0;
  text-align: center;
  font-variant: small-caps;

  border: 5px solid black;
  box-shadow: 5px 5px 5px black;
  background-color: #031794;
}

.modal-overlay {
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, .75);
}
